.maindiv{

}

.sidebar{
    width: 20%;
    float: left;
    height:100vh
}

.download_btn_primary{
    margin: 10px;
    width: -webkit-fill-available;
}

.content{
    width: 80%;
    float: left;
    /* border-left: 1px solid black; */
}
.download_btn_success{
    margin-top: 2rem;
    margin-left: 3rem;
}

.upload_div{
    padding: 1rem;
}

.upload_btn{
    padding: 1rem;
}

.heading{
    font-style: italic;
}